
<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryTitle">Create Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <input type="text" id="nameInput" class="form-control" placeholder="Enter category title">
                    </div>
                    <div class="mb-3">
                        <label for="budgetInput" class="form-label">Budget</label>
                        <input type="number" id="budgetInput" class="form-control" placeholder="Enter budget">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="createCategory" type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
