html {
  font-size: 14px;
}
@keyframes vibration {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(3px); }
}
.toast-success {
  background-color: #51a351 !important; /* Custom green background */
  color: white !important; /* Custom text color */
}

.toast-error {
  background-color: #bd362f !important; /* Custom red background */
  color: white !important; /* Custom text color */
}

.toast-info {
  background-color: #2f96b4 !important; /* Custom blue background */
  color: white !important; /* Custom text color */
}

.toast-warning {
  background-color: #f89406 !important; /* Custom orange background */
  color: white !important; /* Custom text color */
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  font-size: 16px;
}


.card-vibrate {
  animation: vibration 0.8s ease-in-out;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}