<div class="modal fade" id="createUserBalanceModal" tabindex="-1" role="dialog" aria-labelledby="createUserBalanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserBalanceModalLabel">Create User Balance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="balanceInput" class="form-control" placeholder="Enter balance value">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="createUserBalance" type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Toast error message -->
<div class="modal" id="errorMessageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="toast" id="errorMessage" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                    <div class="toast-header">
                        <strong class="mr-auto">Error</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        <!-- Error message will be displayed here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
